---
import Link from '@/components/Link.astro'
import AvatarComponent from '@/components/ui/avatar'
import { cn } from '@/lib/utils'
import type { SocialLink } from '@/types'
import type { CollectionEntry } from 'astro:content'
import SocialIcons from './SocialIcons.astro'

interface Props {
  person: CollectionEntry<'people'>
}

const { person } = Astro.props
const { name, avatar, bio, pronouns } = person.data
const currentPath = Astro.url.pathname
const isPersonPage = currentPath === `/people/${person.id}`

const socialLinks: SocialLink[] = [
  person.data.website && { href: person.data.website, label: 'Website' },
  person.data.github && { href: person.data.github, label: 'GitHub' },
  person.data.twitter && { href: person.data.twitter, label: 'Twitter' },
  person.data.linkedin && { href: person.data.linkedin, label: 'LinkedIn' },
  person.data.mail && { href: `mailto:${person.data.mail}`, label: 'Email' },
].filter(Boolean) as SocialLink[]
---

<div
  class="has-[a:hover]:bg-muted/50 overflow-hidden rounded-xl border p-4 transition-colors duration-300 ease-in-out"
>
  <div class="flex flex-wrap gap-4">
    <Link
      href={`/people/${person.id}`}
      class={cn('block', isPersonPage && 'pointer-events-none')}
    >
      <AvatarComponent
        client:load
        src={avatar}
        alt={`Avatar of ${name}`}
        fallback={name[0]}
        className={cn(
          'size-32 rounded-md [&>[data-slot="avatar-fallback"]]:rounded-md',
          !isPersonPage &&
            'hover:ring-primary transition-shadow duration-300 hover:cursor-pointer hover:ring-2',
        )}
      />
    </Link>
    <div class="flex grow flex-col justify-between gap-y-4">
      <div>
        <div class="flex flex-wrap items-center gap-x-2">
          <h3 class="text-lg font-medium">{name}</h3>
          {
            pronouns && (
              <span class="text-muted-foreground text-sm">({pronouns})</span>
            )
          }
        </div>
        <p class="text-muted-foreground text-sm">{bio}</p>
      </div>
      <SocialIcons links={socialLinks} />
    </div>
  </div>
</div>
