---
import Link from '@/components/Link.astro'
import AvatarComponent from '@/components/ui/avatar'
import { cn, getAvatarSrc } from '@/lib/utils'
import type { SocialLink } from '@/types'
import type { CollectionEntry } from 'astro:content'
import SocialIcons from './SocialIcons.astro'

interface Props {
  person: CollectionEntry<'people'>
}

const { person } = Astro.props
const {
  name,
  avatar,
  title,
  email,
  website,
  github,
  linkedin,
  scholar,
  isPastMember,
} = person.data
const currentPath = Astro.url.pathname
const isPersonPage = currentPath === `/people/${person.id}`

const socialLinks: SocialLink[] = [
  website && { href: website, label: 'Website' },
  github && { href: github, label: 'GitHub' },
  linkedin && { href: linkedin, label: 'LinkedIn' },
  scholar && { href: scholar, label: 'Scholar' },
  email && { href: `mailto:${email}`, label: 'Email' },
].filter(Boolean) as SocialLink[]
---

<Link
  href={`/people/${person.id}`}
  class={cn('block', isPersonPage && 'pointer-events-none')}
>
  <div
    class="hover:ring-primary hover:cursor-pointer hover:ring-2  overflow-hidden rounded-xl border p-4 transition-shadow duration-300 ease-in-out bg-background"
  >
    <div class="flex flex-wrap gap-4">
      <AvatarComponent
        client:load
        src={getAvatarSrc(avatar)}
        alt={`Avatar of ${name}`}
        fallback={name[0]}
        className={cn(
          'size-32 rounded-md [&>[data-slot="avatar-fallback"]]:rounded-md',
          !isPersonPage &&
            'hover:ring-primary transition-shadow duration-300 hover:cursor-pointer hover:ring-2',
        )}
      />

      <div class="flex grow flex-col justify-between gap-y-4">
        <div>
          <div class="flex flex-wrap items-center gap-x-2">
            <h3 class="text-lg font-medium">{name}</h3>
          </div>
          <p class="text-muted-foreground text-sm">
            {isPastMember ? `${title} (Past Member)` : title}
          </p>
        </div>
        <SocialIcons links={socialLinks} />
      </div>
    </div>
  </div>
</Link>
